@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
/* reset */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* navbar styling */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.4s ease;
}
.menu-toggle.open {
    transform: rotate(180deg);
}
.bar {
    height: 3px;
    width: 25px;
    background-color: #512EA6;
    margin: 4px 0;
    transition: 0.4s;
}
.intro {
    width: 100%;
}
.intro .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 30px;
    flex-direction: row-reverse;
    box-shadow: 0px 0px 10px 0px #444;
    z-index: 999;
}
.intro .navbar .logo .logo_img {
    height: 50px;
}
.intro .navbar .list {
    display: flex;
    list-style: none;
    align-items: center;
}
.intro .navbar .list li {
    position: relative;
}
.intro .navbar .list li a {
    text-decoration: none;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
    color: #512EA6;
    transition: all 0.3s ease;
}
.intro .navbar .list li a:focus,
.intro .navbar .list li a:hover {
    color: #FFA500;
}
.intro .navbar .list li a::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #FFA500;
    border-radius: 50%;
    bottom: -10px;
    left: 60%;
    transform: translateX(-50%) scale(0);
    box-shadow: 0px 0px 5px 0px #FFA500;
    transition: all 0.3s ease;
}
.intro .navbar .list li a:focus::after,
.intro .navbar .list li a:hover::after {
    transform: translateX(-50%) scale(1);
}
/* styling Language button */
.language-selector {
    position: relative;
}
.language-button {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: "Noto Kufi Arabic", sans-serif;
}
.language-icon,
.dropdown-icon {
    margin: 0 10px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 150px; 
    transform: translateY(-10px); 
    opacity: 0; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.language-selector.open .dropdown-menu {
    display: block;
    transform: translateY(0); 
    opacity: 1; 
}
.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-menu li {
    padding: 10px 20px;
}
.dropdown-menu li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-family: "Noto Kufi Arabic", sans-serif;
}
.dropdown-menu li:hover {
    background-color: #f0f0f0;
}
/* Promo Section Styling */
.promo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    height: 90vh;
    width: 100%;
    position: relative;
    background-color: #F8F5FF;
    border-radius: 0px 0px 0px 1000px;
}
.promo .left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    max-width: 100%;
}
.promo .left img {
    width: 67%;
    top: 0%;
    position: absolute;
    object-fit: contain;
    top: 100px;
}
.promo .left img:nth-of-type(1) {
    left: 0;
    object-position: right;
    top: 50px;
    animation: phone 3s linear infinite;
}
.promo .left img:last-of-type {
    right: 0;
    animation: phone2 3s linear infinite;
}
.promo .left .p1 {
    height: 450px;
}
.promo .left .p2 {
    height: 400px;
}
.promo .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
    height: 100%;
    max-width: 100%;
}
.promo .right h1 {
    font-weight: 600;
    font-size: 35px;
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #512EA6;
    text-align: right;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
}
.promo .right .text {
    width: 85%;
    line-height: 45px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #828282;
    text-align: right;
    margin: 20px 0px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
    margin-bottom: 30px;
}
.promo .btns {
    display: flex;
}
.promo .btns a {
    text-decoration: none;
}
.promo .btns p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.promo .btns .btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.promo .btns .btn img {
    height: 30px;
    margin-right: 10px;
}
/* about intro styling  */
.about .intro_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
.about .intro_about .one{
    font-size: 40px;
    font-weight: 500;
    line-height: 65.04px;
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #512EA6;
    text-align: center;
    position: relative;
}
.about .intro_about .one::before{
    content: "";
    height: 50px;
    width: 30px;
    background-color: rgba(254, 178, 0, 0.5); 
    position: absolute;
    right:-10px;
    top:15px;
    transform: rotate(10deg);
    z-index: -1;
    border-radius: 4px;
    animation: intro_about 1s forwards;
    transition: 0.3s ease;
}
.about .intro_about .two{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 36px;   
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #FFA500;
}
/* section styling */
.about{
    max-height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    margin:100px;
    position: relative;
}
.about .cont{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0px;
}
.about .cont .left{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about .cont .left .p1,
.about .cont .left .p2 {
    opacity: 0;
    animation: slideInLeft 1s forwards;
}
.about .cont .right img {
    opacity: 0;
    animation: slideInRight 1s forwards;
}
.about .cont .left .p1{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    text-align: right;
    color: #828282;
    width: 75%;
    margin-bottom: 30px;
}
.about .cont .left .p2{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    text-align: right;
    color: #828282;
    width: 75%;
}
.about .cont .right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.about .cont .right .p{
    height: 550px;
}
/* adv intro styling  */
.adv .intro_adv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adv .intro_adv .one{
    font-size: 40px;
    font-weight: 500;
    line-height: 65.04px;
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #512EA6;
    text-align: center;
    position: relative;
}
.adv .intro_adv .one::before{
    content: "";
    height: 50px;
    width: 30px;
    background-color: rgba(254, 178, 0, 0.5); 
    position: absolute;
    right:-10px;
    top:15px;
    transform: rotate(10deg);
    animation: intro_about 1s forwards;
    z-index: -1;
    border-radius: 4px;
}
.adv .intro_adv .two{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 36px;   
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #FFA500;
}
/* styling section */
.adv{
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 20px;
}
.adv .cont{
    display: flex;
    align-items: center;
    gap: 20px;
}
.adv .card1,
.adv .card2,
.adv .card3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 20px;
    width:400px;
    height: 250px;
    border-radius: 10px;  
    border: 1px solid #828282;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    animation: slideInRight 1s forwards;
}
.adv .card1:hover,
.adv .card2:hover,
.adv .card3:hover{
    border: 1px solid #512EA6;
}
.adv .card1 img, 
.adv .card2 img,
.adv .card3 img{
    height: 60px;
}
.adv .card1 h1,
.adv .card2 h1,
.adv .card3 h1{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 45.53px;
    text-align: right;
    color: #512EA6;
}
.adv .card1 p,
.adv .card2 p,
.adv .card3 p{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    text-align: right;
    color: #828282;
}
/* styling app section */
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 30px 0px;
    padding: 20px;
}
.app .owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.app .images img {
    width: 350px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
}
.balls {
    text-align: center;
    margin-top: 20px;
}
.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
}
.dot.active {
    background-color: #FEB200;
}
/* intro opinion */
.opin .intro_opin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.opin .intro_opin .one{
    font-size: 40px;
    font-weight: 500;
    line-height: 65.04px;
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #512EA6;
    text-align: center;
    position: relative;
}
.opin .intro_opin .one::before{
    content: "";
    height: 50px;
    width: 30px;
    background-color: rgba(254, 178, 0, 0.5); 
    position: absolute;
    right:-10px;
    top:15px;
    transform: rotate(10deg);
    animation: intro_about 1s forwards;
    z-index: -1;
    border-radius: 4px;
}
.opin .intro_opin .two{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 36px;   
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #FFA500;
}
/* section opinion */
.opin{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    padding: 20px 10px;
}
.opin .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.opin .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: slideInLeft 1s forwards;

}
.opin .left .yellow{
    width: 40px;
    height: 65px;
    transform: rotate(-70deg);
    border-radius: 5px;
    background: var(--C2, #FEB200);
    position: absolute;
    left: 0;
    top: 0;
}
.opin .left .star1{
    height: 30px;
    position: absolute;
    left: 10%;
    top: 32%;
}
.opin .left .back_opin{
    height: 400px;
    margin-top: 50px;
}
.opin .left .star2{
    height: 60px;
    position: absolute;
    top: 85%;
    left: 70%;
}
.opin .right{
    width: 650px;
    height: 390px;
    padding: 20px 20px;
    margin-left: 50px;
    border-radius: 10px;
    border: 1px solid #828282;
    animation: slideInRight 1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 0px 10px 0px #555;
}
.opin .right .cots{
    height: 50px;
    position: absolute;
    right: 20px;
}
.opin .right p{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: right;
    color: #828282;
    margin-top: 50px;
}
.opin .right h2{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 20px;
    text-align: center;
}
.opin .right .btns{
    display: flex;
    align-items: center;
}
.opin .right .btns .btn1{
    background-color: #fff;
    color: #512EA6;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 64px;
    height: 35px;
    cursor: pointer;
    font-size: 19px;
    border: 1px solid #828282;
    margin-right: 10px;
}
.opin .right .btns .btn2{
    background-color: #512EA6;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 64px;
    height: 35px;
    cursor: pointer;
    font-size: 19px;
}
.opin .right .pampa{
    width:25px; 
    height:80px;
    background-color: #512EA6;
    border-radius:5px ;
    transform: rotate(50deg);
    position: absolute;
    right: 0;
    top: 87%;
}
/* styling section download */
.down{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120vh;
    max-width: 100%;
    background:url("../images/back_down.png") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.down .left{
    display: flex;
    animation: slideInLeft 1s forwards;
}
.down .left .phone_down{
    height:550px;
}
.down .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.down  .right h1{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 40px;
    line-height: 113.82px;
    text-align: right;
    color: #fff;
}
.down .right p{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 66px;
    text-align: right;
    color: #fff;
}
.down .btns{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.down .btns  .btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    z-index: 999;
    cursor: pointer;
}
.down .btns a{
    text-decoration: none;
}
.down .btns .google_link p,
.down .btns .apple_link p,
.down .btns .apple_link p span,
.down .btns .google p span{
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.down .btns  img{
    height: 30px;
    margin-right: 10px;
}
/* section contact styling */
.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.contact .left{
    display: flex;
    flex-direction: column;
    background: url("./images/back_contact.png") no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;    
    animation: slideInLeft 1s forwards;
    position: relative;
}
.contact .left .shap1{
    height: 200px;
    position: absolute;
    animation: slideInLeft 1s forwards;
    right: 20%;
    top: -20%;
}
.contact .left .contact_img{
    height: 500px;
}
.contact .left .shap2{
    height: 200px;
    position: absolute;
    animation: slideInLeft 1s forwards;
    right: 0;
    bottom: 0;
}
.contact .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.intro_contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 10px;
}
.intro_contact .one{
    font-size: 32px;
    font-weight: 500;
    line-height: 65.04px;
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #512EA6;
    position: relative;
}
.intro_contact .one::before{
    content: "";
    height: 50px;
    width: 30px;
    background-color: rgba(254, 178, 0, 0.5); 
    position: absolute;
    right:-10px;
    animation: intro_about 1s forwards;
    top:15px;
    transform: rotate(10deg);
    z-index: -1;
    border-radius: 4px;
}
.intro_contact .two{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 30px;   
    font-weight: 400;
    line-height: 48px;
    color: #FFA500;
}
.contact .contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-bottom: 100px;
}
.contact .contact_form .name{   
    width: 600px;
    height: 60px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    text-align: right;
    color: #AFAFAF;
    font-family: "Noto Kufi Arabic", sans-serif;
    margin-top: 20px;
}
.contact .contact_form .mail{
    width: 600px;
    height: 60px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    text-align: right;
    color: #AFAFAF;  
    font-family: "Noto Kufi Arabic", sans-serif;
    margin-top: 10px;

}
.contact .contact_form .message{   
    width: 600px;
    height: 220px;
    border-radius: 10px;
    padding: 10px 10px;
    border: 1px solid #E6E6E6;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    text-align: right;
    color: #AFAFAF;  
    font-family: "Noto Kufi Arabic", sans-serif;
    margin-top: 10px;
}
.contact .contact_form .btn{
    width: 600px;
    border-radius: 10px;
    padding: 10px 0px;
    background: #512EA6;
    font-size: 18px;
    text-align: center;
    font-family: "Noto Kufi Arabic", sans-serif;
    border: none;
    outline: none;
    color:#fff;
    cursor: pointer;
    margin-top:20px;
} 
/* footer one styling */
.footer1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0px;
    background:url("./images/back_footer.png") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.footer1::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(81, 46, 166, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    z-index: -1;
}
.footer1 .star1{
    height: 30px;
    position: absolute;
    top: 20px;
    left: 10px;
}
.footer1 .star2{
    height: 15px;
    position: absolute;
    left: 15%;
}
.footer1 .star4{
    height: 15px;
    position: absolute;
    top: 20px;
    right: 50px;
}
.footer1 .line_footer{
    width: 20%;
}
.footer1 .logo_footer1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly ;   
}
.footer1 .logo_footer1 img{
    height: 100px;
}
.footer1 .logo_footer1 .social{
    display: flex;
    align-items: center;
    gap: 10px;   
    padding-top: 20px; 
}
.footer1 .logo_footer1 .social a img{
    height: 15px;
}
.footer1 .logo_footer1 .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
}
.footer1 .logo_footer1 .social a:hover{
    background-color: #FEB200;
}
/* footer two styling */
.footer2{
    background-color: #fff;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.footer2 .one{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #512EA6;
}
.footer2 .two{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #512EA6;
    text-align:center;
}
.footer2 .two img{
    height: 20px;  
    vertical-align: middle;
}
/*  owl animation  */
@keyframes phone {
    0% {
        transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px) rotate(-5deg);
    }
    100% {
      transform: translateY(0px);
    }
}
@keyframes phone2 {
    0% {
        transform: translateY(0px);
    }
    50% {
      transform: translateY(20px) rotate(5deg);
    }
    100% {
      transform: translateY(0px);
    }
}
/* ./////////////////////////////////////////////// */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* //////////////////// */
@keyframes intro_about {
    from {
        transform: rotate(10deg);
    }
    to {
        transform: rotate(190deg);
    }
}


